@page "/TaxInvoice"


@using System.Collections.ObjectModel
@using OrisonFinance.Shared;
@using OrisonFinance.Shared.DataModel.Inventory;
@using DevExpress.Blazor;
@using Microsoft.AspNetCore.Components;
@using OrisonFinance.Shared.DataModel;
@using OrisonFinance.Shared.Models;
@inject HttpClient Http
@inject NavigationManager uriHelper
@inject OrisonFinance.Client.Services.FunctionService funcService
@inject OrisonFinance.Client.Services.TaxInvoiceService taxServ
@inject OrisonFinance.Shared.Contract.Inventory.IInvVoucherManager VoucherMan
<style>
    .dx-datagrid-headers .dx-header-row {
        background-color: #014164;
        color: #ffffff;
    }

    .btn-secondary {
        color: #fff;
        background-color: #014164;
        border-color: #014164;
    }

    label {
        color: #0b2364;
    }

    .widthset {
        width: 100%;
        height: 34px;
    }

    .btn-primary {
        color: #fff;
        background-color: #014164;
        border-color: #014164;
    }

    .IconO {
        height: 20px;
        width: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .Icon {
        height: 30px;
        width: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
    }

    .add {
        background-image: url("../Images/OFadd.png");
    }

    .save {
        background-image: url("../Images/OFsave.png");
    }

    .edit {
        background-image: url("../Images/OFedit.png");
    }

    .at {
        background-image: url("../Images/OFat.png");
    }

    .img {
        background-image: url("../Images/OFimg.png");
    }

    .print {
        background-image: url("../Images/OFprint.png");
    }

    .que {
        background-image: url("../Images/OFque.png");
    }

    .close {
        background-image: url("../Images/OFclose.png");
    }

    .grid {
        background-image: url("../Images/OFgrid.png");
    }

    .search {
        background-image: url("../Images/OFsearch.png");
    }

    .page {
        background-image: url("../Images/OFpage.png");
    }

    .more {
        background-image: url("../Images/OFmore.png");
    }

    .send {
        background-image: url("../Images/OFsend.png");
    }
</style>

@if (btnVoucher == 1)
{
    <div class="container-fluid" style="padding: 1%; border: solid 2px #014164;">
        <div>
            <div class="form-row" style="background-color:#014164;">
                <DxButton IconCssClass="Icon add" @onclick="@New_Click"></DxButton>
                <DxButton IconCssClass="Icon save" @onclick="@Save_Click"></DxButton>
                <DxButton IconCssClass="Icon edit"></DxButton>
                <DxButton IconCssClass="Icon close" @onclick="@Close_Click"></DxButton>
                <DxButton IconCssClass="Icon print"></DxButton>
            </div>
            <div class="form-row" style="padding-top:1%;">
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Invoice No:</label>
                    </div>
                    <div class="col-md-8">
                        <DxTextBox NullText="Invoice No" @bind-Text="@InvNo" Id="txtInvNo" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Sale Date:</label>
                    </div>
                    <div class="col-md-8">
                        <DxDateEdit Date="DateTime.Today" CssClass="widthset" Id="txtVDate"></DxDateEdit>
                    </div>
                </div>
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Sales Person:</label>
                    </div>
                    <div class="col-md-8">
                        <DxComboBox Data="@AccountList" Id="cmbSalesman"
                                    TextFieldName="@nameof(ObAccount.AccountName)"
                                    @bind-Value="@ObAccount"
                                    FilteringMode="DataGridFilteringMode.Contains">
                        </DxComboBox>
                        @*<DxTextBox NullText="Sales Person" CssClass="widthset"></DxTextBox>*@
                    </div>
                </div>
            </div>
            <div class="form-row" style="padding-top:1%;">
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Customer:</label>
                    </div>
                    <div class="col-md-8">
                        <DxComboBox Data="@CustomerList" Id="cmbCustomer"
                                    @bind-Value="@ObCustomer"
                                    FilteringMode="DataGridFilteringMode.Contains"
                                    EditFormat="{1}">
                            <DxListEditorColumn FieldName="AccountCode" Caption="Code" />
                            <DxListEditorColumn FieldName="AccountName" Caption="Name" />
                        </DxComboBox>
                    </div>
                </div>
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Sale Mode :</label>
                    </div>
                    <div class="col-md-8">
                        <DxComboBox Data="@Payment" CssClass="widthset"
                                    AllowUserInput="true" Id="cmbSalesmode"
                                    NullText="Card/Credit"
                                    @bind-Value="@Value1"
                                    @bind-Text="@Text1">
                        </DxComboBox>
                    </div>
                </div>
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">VAT Type:</label>
                    </div>
                    <div class="col-md-6">
                        <DxComboBox Data="@VATType" CssClass="widthset"
                                    AllowUserInput="true" Id="cmbVATType"
                                    NullText="VATType"
                                    @bind-Value="@Value3"
                                    @bind-Text="@Text3">
                        </DxComboBox>
                    </div>
                    <div class="col-md-2">
                        @if (MoreClick == 1)
                        {
                            <DxButton IconCssClass="IconO more" Click="@btnMore1"></DxButton>
                        }
                        else
                        {
                            <DxButton IconCssClass="IconO more" Click="@btnMore"></DxButton>
                        }
                    </div>
                </div>
            </div>
            @if (MoreClick == 1)
            {
                <div class="form-row" style="padding-top:1%;">
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">CustomerPhone:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Customer Phone" Id="txtCustPhone" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">CustomerAddress:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Customer Address" Id="txtCustAddress" CssClass="widthset"></DxTextBox>
                            @*<DxTextBox NullText="Customer Place" CssClass="widthset"></DxTextBox>*@
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">DeliveryMode:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="DeliveryMode" Id="txtDeliverymode" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;">
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">TRN:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="TRN" Id="txtTRN" CssClass="widthset"></DxTextBox>
                            @*<DxTextBox NullText="Salesman Place" CssClass="widthset"></DxTextBox>*@
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">SalesmanPhone:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Salesman Phone" Id="txtSalesPhone" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">Remarks:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Remarks" Id="txtRemark" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container-fluid" style="padding-top:1%;padding:1%;border:solid 2px #014164;">
        <div class="form-row" style="padding-top:1%;">
            <div class="col-md-1">
                <label style="font-size:medium">Item Details:</label>
            </div>
            <div class="col-md-5">
                @*ValueChanged="@((ItemMaster Item) => SelectedItemChanged(Item))"*@
                <DxComboBox Data="@ItemMasterList"
                            ValueChanged="@((dtItems Item)=>SelectedItemChanged(Item))"
                            FilteringMode="DataGridFilteringMode.Contains" Id="cmbItem"
                            EditFormat="{1}">
                    <DxListEditorColumn FieldName="ItemCode" Caption="ItemCode" />
                    <DxListEditorColumn FieldName="ItemName" Caption="ItemName" />
                    <DxListEditorColumn FieldName="SellingPrice" Caption="SellingPrice" />
                </DxComboBox>
                @*<DxComboBox Data="@ItemsList"
                                @bind-Value="@Item"
                                FilteringMode="DataGridFilteringMode.Contains" Id="cmbItem"
                                EditFormat="{1}">
                        <DxListEditorColumn FieldName="ItemCode" Caption="ItemCode" />
                        <DxListEditorColumn FieldName="Description" Caption="Description" />
                    </DxComboBox>*@
            </div>

            <div class="col-md-1">
                <DxSpinEdit Id="dsQty" BindValueMode="BindValueMode.OnInput" CssClass="widthset" NullText="Qty"
                            ValueChanged="@((int newQty) => OnValueChanged(newQty))" MinValue="1" Value="@Qty">
                </DxSpinEdit>
            </div>
            <div class="col-md-1">
                <DxTextBox NullText="Price" Id="txtRate" @bind-Text="@Price" CssClass="widthset"></DxTextBox>
            </div>
            <div class="col-md-1">
                <DxTextBox NullText="VAT %" Id="txtVAT" @bind-Text="@VAT" Enabled="false" CssClass="widthset"></DxTextBox>
            </div>
            <div class="col-md-1">
                <DxTextBox NullText="Price" Id="txtPrice" @bind-Text="@Price" CssClass="widthset"></DxTextBox>
            </div>
            <div class="col-md-1">
                <DxTextBox NullText="Amount" Id="txtAmount" @bind-Text="@amount" Enabled="false" CssClass="widthset"></DxTextBox>
            </div>
            <div class="col-md-1">
                <DxButton IconCssClass="IconO send" CssClass="widthset" @onclick="@Send_Click"></DxButton>
                @*<button type="submit" class="IconO send" onclick="@(async () => await AddItem())"></button>*@
            </div>
        </div>
        <div style="padding-top:1%;">
            <DxDataGrid Data="@objsales" ShowPager="false" Id="dgTrans">
                <DxDataGridColumn Field=@nameof(dtInvTransactions.ItemCode) Caption="ItemCode" Width="5%" />
                <DxDataGridColumn Field=@nameof(dtInvTransactions.Description) Caption="ItemName" Width="18%" />
                @*<DxDataGridColumn Field=@nameof(SalesOrderTemp.Unit) Caption="Unit" Width="5%" TextAlignment="DataGridTextAlign.Center" />*@
                <DxDataGridColumn Field=@nameof(dtInvTransactions.Qty) Caption="Qty" Width="4%" TextAlignment="DataGridTextAlign.Center" />
                <DxDataGridColumn Field=@nameof(dtInvTransactions.VRate) Caption="Price" Width="4%" TextAlignment="DataGridTextAlign.Right" />
                <DxDataGridColumn Field=@nameof(dtInvTransactions.VATPer) Caption="VAT" Width="4%" TextAlignment="DataGridTextAlign.Right" />
                <DxDataGridColumn Field=@nameof(dtInvTransactions.VRate) Caption="Price" Width="4%" Visible="false" TextAlignment="DataGridTextAlign.Right" />
                <DxDataGridColumn Field=@nameof(dtInvTransactions.Discount) Caption="Discount" Width="4%" Visible="false" />
                <DxDataGridColumn Field=@nameof(dtInvTransactions.Amount) Caption="Amount" Width="8%" TextAlignment="DataGridTextAlign.Right" />
                <DxDataGridColumn Field=@nameof(dtInvTransactions.Amount) Caption="Net Amount" Width="8%" TextAlignment="DataGridTextAlign.Right" />
            </DxDataGrid>
        </div>
    </div>
    <div class="container-fluid" style="padding-top:1%;padding: 1%;border:solid 2px #014164;">
        <div class="form-row">
            <div class="col-md-8 form-row">
                <div class="form-row" style="width: -webkit-fill-available;">
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">Cash:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Cash" Id="txtCash" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">Card:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Card" Id="txtCard" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">Cheque:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Cheque" Id="txtCheque" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;width: inherit;width: -webkit-fill-available;">
                    <div class="col-md-8 form-row">
                        @*<div class="col-md-3">
                                <label style="font-size:medium">WareHouse:</label>
                            </div>
                            <div class="col-md-9">
                                <DxTextBox NullText="WareHouse" CssClass="widthset"></DxTextBox>
                            </div>*@
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">TotalPaid:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Total Paid" Id="txtTotPaid" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                </div>
                @*<div class="form-row" style="padding-top:1%;width: inherit;">
                        <div class="col-md-8 form-row">
                            <div class="col-md-3">
                                <label style="font-size:medium">FooterText:</label>
                            </div>
                            <div class="col-md-9">
                                <DxTextBox NullText="Footer Text" CssClass="widthset"></DxTextBox>
                            </div>
                        </div>
                        <div class="col-md-4 form-row">
                            <div class="col-md-4">
                                <label style="font-size:medium">AutoID:</label>
                            </div>
                            <div class="col-md-8">
                                <DxTextBox NullText="Auto ID" CssClass="widthset"></DxTextBox>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="col-md-1 form-row">

            </div>
            <div class="col-md-3 form-row">
                <div class="form-row" style="width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">SubTotal:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="SubTotal" Id="txtSubTot" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1% ;width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">Discount:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="Discount" Id="txtDiscount" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">VAT:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="VAT" Id="txtVATPaid" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">Round off:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="Round off" Id="txtRoundoff" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">Net Amount:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="Net Amount" Id="txtNetAmt" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container-fluid" style="padding: 1%; border: solid 2px #014164;">
        <div>
            <div class="form-row" style="background-color:#014164;">
                <DxButton IconCssClass="Icon add" @onclick="@New_Click"></DxButton>
                <DxButton IconCssClass="Icon save" ></DxButton>
                <DxButton IconCssClass="Icon edit"></DxButton>
                <DxButton IconCssClass="Icon close" @onclick="@Close_Click"></DxButton>
                <DxButton IconCssClass="Icon print"></DxButton>
            </div>
            <div class="form-row" style="padding-top:1%;">
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Invoice No:</label>
                    </div>
                    <div class="col-md-8">
                        <DxTextBox NullText="Invoice No" @bind-Text="@InvoiceNo" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Sale Date:</label>
                    </div>
                    <div class="col-md-8">
                        <DxDateEdit Date="@VDate" CssClass="widthset" Enabled="false"></DxDateEdit>
                    </div>
                </div>
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Sales Person:</label>
                    </div>
                    <div class="col-md-8">
                        <DxTextBox NullText="Sales Person" @bind-Text="@Salesman" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
            </div>
            <div class="form-row" style="padding-top:1%;">
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Customer:</label>
                    </div>
                    <div class="col-md-8">
                        <DxTextBox NullText="Customer" @bind-Text="@Customer" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">Sale Mode :</label>
                    </div>
                    <div class="col-md-8">
                        <DxTextBox NullText="Sale Mode" @bind-Text="@Salesmode" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="col-md-4 form-row">
                    <div class="col-md-4">
                        <label style="font-size:medium">VAT Type:</label>
                    </div>
                    <div class="col-md-6">
                        @*<DxComboBox Data="@VATType" CssClass="widthset"
                                        AllowUserInput="true"
                                        NullText="VATType"
                                        @bind-Value="@Value3"
                                        @bind-Text="@Text3">
                            </DxComboBox>*@
                        <DxTextBox NullText="VAT Type" @bind-Text="@VATTypes" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                    <div class="col-md-2">
                        @if (MoreClick == 1)
                        {
                            <DxButton IconCssClass="IconO more" Click="@btnMore1"></DxButton>
                        }
                        else
                        {
                            <DxButton IconCssClass="IconO more" Click="@btnMore"></DxButton>
                        }
                    </div>
                </div>
            </div>
            @if (MoreClick == 1)
            {
                <div class="form-row" style="padding-top:1%;">
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">CustomerPhone:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Customer Phone" @bind-Text="@CustPhone" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">CustomerAddress:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Customer Address" @bind-Text="@CustAddress" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">DeliveryMode:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="DeliveryMode" @bind-Text="@DelMode" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;">
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">TRN:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="TRN" @bind-Text="@txtTRN" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">SalesmanPhone:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Salesman Phone" @bind-Text="@SalesPhone" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">Remarks:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Remarks" @bind-Text="@Remarks" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="container-fluid" style="padding-top:1%;padding:1%;border:solid 2px #014164;">
        <div class="form-row" style="padding-top:1%;">
            <div class="col-md-1">
                <label style="font-size:medium">Item Details:</label>
            </div>
            <div class="col-md-5">
                <DxTextBox NullText="Item Details"  Enabled="false" CssClass="widthset"></DxTextBox>
            </div>

            <div class="col-md-1">
                @*<DxSpinEdit Id="dsQty" BindValueMode="BindValueMode.OnInput" CssClass="widthset" NullText="Qty"
                                ValueChanged="@((int newQty) => OnValueChanged(newQty))" MinValue="1" Value="@Qty">
                    </DxSpinEdit>*@
                <DxTextBox NullText="Qty" Enabled="false" CssClass="widthset"></DxTextBox>
            </div>
            <div class="col-md-1">
                <DxTextBox NullText="Price" Enabled="false" CssClass="widthset"></DxTextBox>
            </div>
            <div class="col-md-1">
                <DxTextBox NullText="VAT %" Enabled="false" CssClass="widthset"></DxTextBox>
            </div>
            <div class="col-md-1">
                <DxTextBox NullText="Price" Enabled="false" CssClass="widthset"></DxTextBox>
            </div>
            <div class="col-md-1">
                <DxTextBox NullText="Amount" Enabled="false" CssClass="widthset"></DxTextBox>
            </div>
            <div class="col-md-1">
                <DxButton IconCssClass="IconO send" CssClass="widthset"></DxButton>
                @*<button type="submit" class="IconO send" onclick="@(async () => await AddItem())"></button>*@
            </div>
        </div>
        <div style="padding-top:1%;">
            <DxDataGrid Data="@tObj" ShowPager="false">
                    <DxDataGridColumn Field=@nameof(dtInvTransactions.ItemCode) Caption="ItemCode" Width="5%" />
                    <DxDataGridColumn Field=@nameof(dtInvTransactions.Description) Caption="ItemName" Width="18%" />
                    <DxDataGridColumn Field=@nameof(dtInvTransactions.Qty) Caption="Qty" Width="4%" TextAlignment="DataGridTextAlign.Center" />
                    <DxDataGridColumn Field=@nameof(dtInvTransactions.VRate) Caption="Price" Width="4%" TextAlignment="DataGridTextAlign.Right" />
                    <DxDataGridColumn Field=@nameof(dtInvTransactions.VAT) Caption="VAT" Width="4%" TextAlignment="DataGridTextAlign.Right" />
                    <DxDataGridColumn Field=@nameof(dtInvTransactions.VRate) Caption="Price" Width="4%" Visible="false" TextAlignment="DataGridTextAlign.Right" />
                    <DxDataGridColumn Field=@nameof(dtInvTransactions.Discount) Caption="Discount" Width="4%" Visible="false" />
                    <DxDataGridColumn Field=@nameof(dtInvTransactions.Amount) Caption="Amount" Width="8%" TextAlignment="DataGridTextAlign.Right" />
                    <DxDataGridColumn Field=@nameof(dtInvTransactions.Amount) Caption="Net Amount" Width="8%" TextAlignment="DataGridTextAlign.Right" />
                </DxDataGrid>
        </div>
    </div>
    <div class="container-fluid" style="padding-top:1%;padding: 1%;border:solid 2px #014164;">
        <div class="form-row">
            <div class="col-md-8 form-row">
                <div class="form-row" style="width: -webkit-fill-available;">
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">Cash:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Cash" @bind-Text="@Cash" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">Card:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Card" @bind-Text="@Card" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">Cheque:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Cheque" @bind-Text="@Cheque" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;width: inherit;width: -webkit-fill-available;">
                    <div class="col-md-8 form-row">
                        @*<div class="col-md-3">
                                <label style="font-size:medium">WareHouse:</label>
                            </div>
                            <div class="col-md-9">
                                <DxTextBox NullText="WareHouse" CssClass="widthset"></DxTextBox>
                            </div>*@
                    </div>
                    <div class="col-md-4 form-row">
                        <div class="col-md-4">
                            <label style="font-size:medium">TotalPaid:</label>
                        </div>
                        <div class="col-md-8">
                            <DxTextBox NullText="Total Paid" @bind-Text="@TotPaid" Enabled="false" CssClass="widthset"></DxTextBox>
                        </div>
                    </div>
                </div>
                @*<div class="form-row" style="padding-top:1%;width: inherit;">
                        <div class="col-md-8 form-row">
                            <div class="col-md-3">
                                <label style="font-size:medium">FooterText:</label>
                            </div>
                            <div class="col-md-9">
                                <DxTextBox NullText="Footer Text" CssClass="widthset"></DxTextBox>
                            </div>
                        </div>
                        <div class="col-md-4 form-row">
                            <div class="col-md-4">
                                <label style="font-size:medium">AutoID:</label>
                            </div>
                            <div class="col-md-8">
                                <DxTextBox NullText="Auto ID" CssClass="widthset"></DxTextBox>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="col-md-1 form-row">

            </div>
            <div class="col-md-3 form-row">
                <div class="form-row" style="width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">SubTotal:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="SubTotal" @bind-Text="@SubTot" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1% ;width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">Discount:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="Discount" @bind-Text="@Discount" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">VAT:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="VAT" @bind-Text="@txtVAT" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">Round off:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="Round off" @bind-Text="@Roundoff" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
                <div class="form-row" style="padding-top:1%;width: -webkit-fill-available;">
                    <div class="col-md-5">
                        <label style="font-size:medium">Net Amount:</label>
                    </div>
                    <div class="col-md-7">
                        <DxTextBox NullText="Net Amount" @bind-Text="@NetAmt" Enabled="false" CssClass="widthset"></DxTextBox>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@code {
    int btnVoucher = 0;
    int Qty { get; set; } = 1;
    string amount;
    Decimal VRate;

    public void OnValueChanged(int newQty)
    {
        Qty = newQty;
        VRate = Convert.ToDecimal(ItemMast.SellingPrice) + Convert.ToDecimal(ItemMast.SellingPrice) * Convert.ToDecimal(ItemMast.VATPer) / 100;
        amount = (newQty * VRate).ToString();
        //amount = Convert.ToString(funcService.getAmount(Qty.ToString()));
    }

    string cmbItem { get; set; }
    string Price;
    string VAT;
    public void SelectedItemChanged(dtItems Item)
    {
        ItemMast = Item;
        //VRate = Convert.ToDecimal(Item.SellingPrice);
        VRate = Convert.ToDecimal(ItemMast.SellingPrice) + Convert.ToDecimal(ItemMast.SellingPrice) * Convert.ToDecimal(ItemMast.VATPer) / 100;
        Price = (VRate).ToString();
        VAT = Item.VATPer;
        amount = (Qty * VRate).ToString();
    }

    dtInvTransactions[] salesorder;
    dtInvTransactions SalesOrd = new dtInvTransactions();

    public static dtItems[] ItemMasterList;
    dtItems ItemMast = new dtItems();

    public static dtInvAccounts[] AccountList;
    dtInvAccounts ObAccount = new dtInvAccounts();

    public static dtInvAccounts[] CustomerList;
    dtInvAccounts ObCustomer = new dtInvAccounts();

    dtInvVoucher[] VoucherList;
    dtInvVoucher ObVoucher = new dtInvVoucher();

    VoucherMaster[] VoucherMasterList;
    VoucherMaster ObVoucherMaster = new VoucherMaster();

    private dtInvVoucherEntry[] veObj;
    dtInvVoucherEntry ve = new dtInvVoucherEntry();

    dtInvVoucherAdditionals vaObj = new dtInvVoucherAdditionals();

    private dtInvTransactions[] tObj;
    dtInvTransactions ttObj = new dtInvTransactions();

    int vNo;
    string InvNo;
    int vtype;
    long vID;
    int lblmsg;
    string InvoiceNo;
    DateTime VDate;
    string Salesman;
    string Customer;
    string Salesmode;
    string VATTypes;
    string CustPhone;
    string CustAddress;
    string SalesPhone;
    string DelMode;
    string txtTRN;
    string Remarks;
    string Cash;
    string Card;
    string Cheque;
    string TotPaid;
    string SubTot;
    string Discount;
    string txtVAT;
    string Roundoff;
    string NetAmt;

    readonly ObservableCollection<dtInvTransactions> objsales = new ObservableCollection<dtInvTransactions>();

    protected override async Task OnInitializedAsync()
    {
        //salesordertemp = taxInvServ.GetSalesAsync();
        AccountList = await Http.GetFromJsonAsync<dtInvAccounts[]>("/api/dtInvAccounts?AccCategory=Staff&AccSubCategory=Sales%20Man");
        CustomerList = await Http.GetFromJsonAsync<dtInvAccounts[]>("/api/dtInvAccounts?AccCategory=Customer&AccSubCategory=Customer");
        salesorder = await Http.GetFromJsonAsync<dtInvTransactions[]>("/api/dtInvTransactions");
        ItemMasterList = await Http.GetFromJsonAsync<dtItems[]>("/api/dtItems");
        //VoucherList = await Http.GetFromJsonAsync<dtInvVoucher[]>("/api/dtInvVoucher");
        vtype = await taxServ.getVtype();
        ObVoucherMaster = await Http.GetFromJsonAsync<VoucherMaster>("/api/VoucherMasters/"+vtype+"");
        vID = ObVoucherMaster.ID;
        ObVoucher = await Http.GetFromJsonAsync<dtInvVoucher>("/api/dtInvVouchers?Vid="+vID);
        vaObj = await Http.GetJsonAsync<dtInvVoucherAdditionals>("/api/dtInvVoucherAdditionals?VId=" + vID);
        tObj = await Http.GetJsonAsync<dtInvTransactions[]>("/api/dtInvTransactions?VId=" + vID);
        veObj = await Http.GetJsonAsync<dtInvVoucherEntry[]>("/api/dtInvVoucherEntries?VId=" + vID);
        //InvoiceNumber();
        InvoiceNo = ObVoucher.VNo.ToString();
        VDate=ObVoucher.EffectiveDate;
        Salesman = ""; //ObVoucher.StaffName.ToString();
        Customer=ObVoucher.AccountName.ToString();
        Salesmode=vaObj.Field3.ToString();
        VATTypes=vaObj.Field8.ToString();
        CustPhone="";//vaObj.Tel.ToString();
        CustAddress = "";// vaObj.Address.ToString();
        SalesPhone="";
        DelMode="";
        txtTRN = "";//vaObj.TRNNo.ToString();
        Remarks="";
        @if(vaObj.Field3.ToString()=="Cash")
        {
            Cash=ObVoucher.SubTotal.ToString();
            Card="";
            Cheque="";
        }
        else
        {
            Cash="";
            Card="";
            Cheque="";
        }
        TotPaid=vaObj.AmountPaid.ToString();
        SubTot=ObVoucher.Amount.ToString();
        Discount=vaObj.Discount.ToString();
        txtVAT=ObVoucher.VATAmt.ToString();
        Roundoff=ObVoucher.VRound.ToString();
        NetAmt=ObVoucher.SubTotal.ToString();
    }

    public async Task New_Click()
    {
        string iDate = DateTime.Now.ToString("dd-MM-yyyy");
        vNo = await taxServ.GetNextNoAsync(vtype, iDate, 31);
        btnVoucher = 1;
        InvoiceNumber();
        //int vtype = await Http.GetFromJsonAsync<int>("/api/Values/Sales%20POS");
    }
    void Close_Click(MouseEventArgs args)
    {
        btnVoucher = 0;
    }
    long VId;
    public async Task Save_Click()
    {

        List<dtInvVoucher> objVoucher = new List<dtInvVoucher>();
        dtInvVoucher objV = new dtInvVoucher();
        objV.VNo = InvNo;
        objV.VNoInt = Convert.ToInt32(InvNo);
        objV.EffectiveDate = DateTime.Today;
        objV.VDate = DateTime.Today;
        objV.DueDate = DateTime.Today;
        objV.CreatedDate = DateTime.Today;
        objV.ModifiedDate = DateTime.Today;
        objV.StaffName = ObAccount.AccountName;
        objV.VType = vtype;
        objV.BranchID = 31;
        objV.AccountID = ObAccount.ID;
        objV.VATAmt =null;
        objV.VATPaid =null;
        objV.VRound = null;
        objV.SubTotal = null;
        objV.IsCanceled = null;
        objV.CreatedUserID = null;
        objV.ModifiedUserID = null;
        objV.ExchangeRate = null;
        objV.Currency = 1;
        objVoucher.Add(objV);
        //VId=await VoucherMan.CreateVoucher(objVoucher);

        List<dtInvVoucherAdditionals> objVoucherAdd = new List<dtInvVoucherAdditionals>();
        dtInvVoucherAdditionals objVAdd = new dtInvVoucherAdditionals();
        objVAdd.VID = VId;
        objVAdd.PartyName = "";
        objVAdd.Address = "";
        objVAdd.Tel = "";
        objVAdd.Field3 = "";
        objVAdd.Field8 = "";
        objVAdd.AmountPaid = null;
        objVAdd.Discount = null;
        objVAdd.TRNNo = null;
        objVoucherAdd.Add(objVAdd);


        List<dtInvVoucherEntry> objVoucherEntry = new List<dtInvVoucherEntry>();
        dtInvVoucherEntry objVEntry = new dtInvVoucherEntry();
        objVEntry.VID = VId;
        objVEntry.TranType = "";
        objVoucherEntry.Add(objVEntry);


        dtInvTransactions objTransaction = new dtInvTransactions();
        objsales.Add(objTransaction);


    }

    public void Send_Click()
    {
        decimal Net, VatAmt, Discount;

        SalesOrd.Qty = Qty.ToString();
        SalesOrd.ItemCode = ItemMast.ItemCode;
        SalesOrd.Description = ItemMast.ItemName;
        SalesOrd.Rate = Convert.ToDecimal(ItemMast.SellingPrice);

        dtInvTransactions obj = new dtInvTransactions();
        obj.ItemID = ItemMast.ID;
        obj.VID = 0;
        obj.ItemCode = SalesOrd.ItemCode;
        obj.ItemName = SalesOrd.Description;
        obj.Description = SalesOrd.Description;
        obj.Unit = ItemMast.Unit;
        obj.Discount = 0;
        obj.Factor = ItemMast.Factor;
        obj.IsComplex = ItemMast.IsComplex;
        obj.Qty = SalesOrd.Qty;
        obj.Rate = SalesOrd.Rate;
        obj.VATPer = Convert.ToDecimal(ItemMast.VATPer);
        obj.VRate = Convert.ToDecimal(Price);
        obj.BasicQty = Convert.ToDecimal(SalesOrd.Qty) * ItemMast.Factor;
        obj.CrAccountID = ItemMast.InvAccountID;
        obj.DrAccountID = ItemMast.CostAccountID;
        obj.PostAccountID = ItemMast.SalesAccountID;
        //obj.Discount = SalesOrd.Discount;
        //obj.Amount = Convert.ToDecimal(amount);
        //obj.SubTotal = SalesOrd.SubTotal;
        Net = 0;
        VatAmt = 0;
        Discount = 0;
        if (Value3 == "Inclusive")
        {
            VatAmt = (Convert.ToDecimal(obj.VRate) - Convert.ToDecimal(obj.Discount)) * Convert.ToDecimal(obj.VATPer) / (100 + Convert.ToDecimal(obj.VATPer));
            obj.VAT = VatAmt * obj.VATPer;
            obj.Rate = obj.VRate - VatAmt;
            obj.Amount = Convert.ToDecimal(obj.Qty) * obj.Rate;
            obj.TAmt = Convert.ToDecimal(obj.Amount) - Convert.ToDecimal(obj.BasicQty) * obj.Discount + obj.VAT;
            obj.NetAmount = Convert.ToDecimal(obj.Amount) - Convert.ToDecimal(obj.BasicQty) * obj.Discount + obj.VAT;
        }
        else
        {
            obj.Rate = obj.VRate;
            Net = Convert.ToDecimal(obj.VRate) - Convert.ToDecimal(obj.Discount);
            VatAmt = Net * Convert.ToDecimal(obj.Qty) * Convert.ToDecimal(obj.VATPer) / 100;
            obj.VAT = VatAmt;
            obj.Amount = Convert.ToDecimal(obj.Qty) * obj.Rate;
            obj.TAmt = Convert.ToDecimal(obj.Amount) - Convert.ToDecimal(obj.BasicQty) * obj.Discount + obj.VAT;
            obj.NetAmount = Convert.ToDecimal(obj.Amount) - Convert.ToDecimal(obj.BasicQty) * obj.Discount + obj.VAT;
        }
        objsales.Add(obj);

    }

    int MoreClick;
    void btnMore(MouseEventArgs args)
    {
        MoreClick = 1;
    }
    void btnMore1(MouseEventArgs args)
    {
        MoreClick = 0;
    }

    Decimal DecimalValue { get; set; } = 1;
    SizeMode SizeMode { get; set; }
    string Text3 { get; set; } = "Inclusive";
    string Text1 { get; set; } = "Cash";
    string Value1 { get; set; }
    IEnumerable<string> Payment = new List<string>() {
        "Cash",
        "Credit",
    };
    string Value3 { get; set; }
    IEnumerable<string> VATType = new List<string>() {
        "Inclusive",
        "Exclusive",
    };
    public void InvoiceNumber()
    {

        //vtype = await Http.GetFromJsonAsync<int>("/api/Values/Sales%20POS");
        //vNo = await Http.GetFromJsonAsync<string>("/api/Values/75/10-15-2020/31");
        InvNo = vNo.ToString();
        Console.WriteLine(InvNo);
    }
}
